@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42;
  --background-start-rgb: 255, 250, 245;
  --background-end-rgb: 245, 239, 230;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #fffaf5;
}
::-webkit-scrollbar-thumb {
  background: #d9770644;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #d9770688;
}
